<table>
  <tr>
    <th>Rank</th>
    <th>Ticker</th>
    <th>Description</th>
    <th>Ranked Return</th>
  </tr>
  <% i = 0 %>
  <% @returns.each do |k,v| %>
    <% i += 1 %>
    <tr>
      <td><%= i %></td>
      <td><%= k %></td>
      <td><%= @securities[k].description %></td>
      <td><%= number_to_percentage(v * 100.0) %></td>
    </tr>  
  <% end # each %>
</table>